* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*Colores
    Indigo: #7579f0
    Blanco: #ffffff
    Negro: #000000
    Gris: #e6e6e6
*/

/* Navbar */
.bg-custom {
    background-color: #7579f0;
    font-size: larger;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff; 
}

/* Carrousel */
#carousel-section {
    background-color: #e9ecef;
}

  .carousel-inner img {
    height: 800px;
    object-fit: cover;
}

  .carousel-item {
    transition: transform 0.5s ease-in-out;
}

.row {
    background-color: #7579f0;
    padding: 20px;
}
.col {
    background-color: #7579f0;
    padding: 20px;
}
/* Estilos del Mapa de Google*/
.map-container {
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }