
// BOTONES
.btn-primary {
  background-color: $primary-color;
  color: $light-color;
  border: none;
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  @include transition(all 0.3s ease-in-out);

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// CARDS
.card-custom {
  background-color: $card-bg-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1rem;
  @include responsive-font(1rem, 1.6);

  .card-title {
    font-size: 1.25rem;
    color: $primary-color;
  }

  .card-text {
    font-size: 1rem;
    color: $text-color;
  }
}
